body { 
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-color: #4b4b4b;
}
  
#header {
    background-color: #252525;
    padding: 50px 10px;
    color: black;
    text-align: center;
    font-size: 90px; 
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.09s;
    z-index: 1;
}

#header-img{
  transition: 0.09s;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    z-index: 1000;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  #openbtn{
    color: white;
    position: absolute;
    transition: 0;
    z-index: 10;
  }

  .header-collectie{
    font-size: 50px;
    margin-top: 50px;
  }

  .movieposter{
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    transition: 0.3s;
    z-index: -1;
    border: 2px white solid;
  }

  .movieposter:hover{
    transition: 0.3s;
    transform: scale(1.2);
    z-index: 0.5;
  }

  .background-gallery{
    background-color: #646464;
    position: absolute;
    width: 1428px;
    height: 150px;
    margin-top: 120px;
    z-index: -10;
  }